@font-face {
  font-family: 'Cent';
  src: url('fonts/Cent.eot');
  src: url('fonts/Cent.eot?iefix') format('eot'),
       url('fonts/Cent.ttf') format('truetype');
}
body{
    font-family: 'Cent';
    position: relative;
}
.black{
    color: #333;
}
.white{
    color: #eee;
}
.disabled {
    color: grey;
}
.row{
    height: 100%;
}
#header{
    position: relative;
    background: black;
    color: white;
    border-radius: 3px;
    height: 40px;         
}
#word-brush{
    color: #90ee90;
}
#header span{
    font-style: italic;
    float: left;
    display: block;
    cursor: pointer;
}
#title-img{
    padding-left: 0.4em;
}
#undo-redo{
    height: 100%;
}
#color{
    height: 100%;
}
#color-span{  
    background-color: #f00;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #777;
    border-radius: 2px;
    }
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    overflow: hidden;
    margin: auto;
    background: white;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    background: #90ee90;
    z-index: 10;
    width: 15px;
    height: 15px;
}
input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    position: absolute;
    background: #90ee90;
    z-index: 2;
}
.tool-cols > div{
    margin: auto;
}
#edit-right{
    position: relative;
    padding: 0;
}
.active-tool{
    background-color: #90ee90;
}
#canvas{
    cursor: pointer; 
    background: #000; 
    border: 1px solid #fff; 
    background: white;
    width: 100%;
}
#greyIsh{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #aaa;
    opacity: 0.5;
}


#message{
    display: none;
    color: red;
    font-size: 2em;
    position: absolute;
    top: 35%;
    width: 93%;
    text-align: center;
    z-index: 10;
}

#tiny-text {
	position: absolute;
	display: none;
	text-decoration: none;
	background: none;
	padding:0 15px;
	margin:0;
	border: none;
	opacity: 1;
    z-index: 10;
}

/*  ////////////    MEDIAS      /////////// */
@media(min-width: 180px){ 
    #undo-redo{
        padding: 0.5em 0.8em;         
    }
    #undo-redo span{
        font-size: 1.4em;
        padding: 0 0.2em;
    }
    #header{
        height: 40px;         
    }
    #title{
        padding: 0.3em 0 0;    
        font-size: 1.5em;
    }
    #color{
        padding: 0.7em;
    }
    #size-div{
        padding-top: 0.8em;
    }
    input[type="range"] {
        height: 15px;
        border-radius: 3px;
    }
    input[type="range"]::-webkit-slider-thumb:after {
        width: 280px;
        height: 20px;
        right: 10px;
        top: 0px;
    }
    .tool-cols > div{
        padding: 0.3em 0;
    }
    .active-tool{
        border-radius: 3px;
    }
    #edit-left .col-xs-6{
        padding-right: 0;
        padding-left: 0.2em; 
        border-radius: 5px;
    }
}

@media(min-width: 400px){ 
    #undo-redo{
        padding: 0.5em 1.4em;         
    }
    #size-div{
        padding-left: 2em;
    }
}

@media(min-width: 460px){ 
    #size-div{
        padding-left: 3em;
    }
}

@media(min-width: 600px){ 
    #header{
        height: 50px;         
    }
    #title-img{
        padding-left: 0.4em;
        zoom: 130%;
    }
    #undo-redo{
        padding: 0.6em 2.2em;
    }
    #undo-redo span{
        font-size: 1.8em;
        padding: 0 0.4em;
    }
    #color{
        padding: 0.8em 2em;
    }
    #size-div{
        padding-top: 1em;
        padding-left: 4em;
    }
    input[type="range"] {
        height: 20px;
        border-radius: 3px;
    }
    input[type="range"]::-webkit-slider-thumb:after {
        width: 280px;
        height: 20px;
        right: 10px;
        top: 0px;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
    }
}

@media(min-width: 768px){ 
    #header{
        height: 50px;         
    }
    #title{
        padding: 0.3em 1em;    
        font-size: 1.8em;
    }
    #undo-redo{
        padding: 0.6em 1.4em;
    }
    #undo-redo span{
        font-size: 1.8em;
        padding: 0 0.2em;
    }
    #color{
        padding: 0.8em 0;
    }
    #size-div{
        padding-top: 1em;
        padding-left: 4em;
        padding-right: 0;
    }
    input[type="range"] {
        height: 20px;
        border-radius: 3px;
    }
    input[type="range"]::-webkit-slider-thumb:after {
        width: 280px;
        height: 20px;
        right: 10px;
        top: 0px;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 25px;
        height: 30px;
    }
    .tool-cols > div{
        padding: 0.3em 0;
    }
    .active-tool{
        border-radius: 3px;
    }
    #edit-left .col-xs-6{
        padding-right: 0;
        padding-left: 0.2em; 
        border-radius: 5px;
    }
    .active-tool{
        border-radius: 5px;
    }
}

@media(min-width: 992px){ 
    #header{
        height: 60px;         
    }
    #title{
        padding: 0.3em 1em;    
        font-size: 2.2em;
    }
    #undo-redo{
        padding: 0.8em 1.4em;
    }
    #undo-redo span{
        font-size: 2.2em;
        padding: 0 0.2em;
    }
    #color{
        padding: 0.9em 3em;
        
    }
    #size-div{
        padding-top: 1.2em;
        padding-left: 4em;
        padding-right: 2em;
    }
    input[type="range"] {
        height: 25px;
        border-radius: 3px;
    }
    input[type="range"]::-webkit-slider-thumb:after {
        width: 330px;
        height: 35px;
        right: 10px;
        top: 0px;
    }
    .tool-cols > div{
        padding: 0.3em 0;
    }
    .active-tool{
        border-radius: 3px;
    }
    #edit-left .col-xs-6{
        padding-right: 0;
        padding-left: 0.2em; 
        border-radius: 5px;
    }
}

@media(min-width: 1200px){ 
    #color{
        padding: 0.9em 4em;
    }
    #size-div{
        padding-left: 7em;
        padding-right: 2em;
    }
    input[type="range"]::-webkit-slider-thumb:after {
        width: 350px;
    }
}
