@font-face {
  font-family: 'Cent';
  src: url('fonts/Cent.eot');
  src: url('fonts/Cent.eot?iefix') format('eot'),
       url('fonts/Cent.ttf') format('truetype');
}
body{
    font-family: 'Cent';
    position: relative;
}
.title{
    background: black;
    color: white;
    border-radius: 5px;
}
.title h2{
    font-style: italic;
    float: left;
}
.title span{
    display: inline-block;
    cursor: pointer;
}
#canvas{
    cursor: pointer; 
    background: #000; 
    border: 1px solid #eee; 
    background: white;
    width: 100%;
}    
label {
    margin-left: 1em;
}

#color{
    padding: 0;
    height: 2.5em;
    border-width: 3px;
    border-style: solid;
    border-left-color: black;
    border-right-color: #90ee90;
    border-top-color: black;
    border-bottom-color: #faf;
    background: black;
}
.tpad{
    padding-top: 0.7em;
}
#greyIsh{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #aaa;
    opacity: 0.5;
}
#divPickerHolder{
    display: none;
    position: absolute;
    width: 100%;
    top: 2em;
}
#divPicker{
    width: 289px;
    border: 4px solid #333;
    border-radius: 4px;
    background: #333;
    margin: 1em auto;
    z-index: 100;
    height: 312px;
}
#divPickerBG{
    height: 256px;
    margin-right: 5px;
    float: left;
}
#pickerBG{
    height: 256px;
    background: red;
    cursor: pointer;
}
#pickerColor{
    cursor: pointer;
}

.clear{
    clear: both;
}

#divPickerControls{
    width:285px;
}

#divPickerControls > .buttons{
    float: left;
}

.buttons {
    padding: 0.5em 1em;
    margin: auto;
    color: white;
}

.buttons > span{
    display: block;
}

.btn-default{
    background: #eee;
}

#hashColor{
    color: black;
    width: 4em;
}
.btn-default:hover{
    background: #90ee90;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    overflow: hidden;
    margin: auto;
    background: white;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    background: #90ee90;
}
input[type="range"]::-webkit-slider-thumb:after {
    content: " ";
    width: 280px;
    height: 17px;
    position: absolute;
    right: 10px;
    top: 0px;
    background: #90ee90;
}
#edit-left .col-xs-6{
    padding-right: 0;
    padding-left: 0.2em; 
    border-radius: 5px;
}

.active-tool{
    background-color: #90ee90;
}
#Brush{
    color: #90ee90;
}
.black{
    color: #333;
}
.white{
    color: #eee;
}
.disabled {
    color: grey;
}

#message{
    display: none;
    color: red;
    font-size: 2em;
    position: absolute;
    top: 35%;
    width: 93%;
    text-align: center;
    z-index: 10;
}

#tiny-text {
	position: absolute;
	display: none;
	text-decoration: none;
	background: none;
	padding:0 15px;
	margin:0;
	border: none;
	opacity: 1;
    z-index: 10;
}

.col-sm-1, .col-xs-1{
    padding-left: 0;
    padding-right: 0;
}

.tool-cols{
    margin: auto;
}

@media(min-width: 180px){ 
    .title{
        margin-bottom: 0.4em;
    }
    .title h2, .title #undo-redo{
        font-size: 1.3em;
        margin-top: 0.35em;
    }
}

@media(min-width: 550px){ 
    .title{
        margin-bottom: 0.4em;
    }
    .title h2, .title #undo-redo{
        font-size: 1.5em;
        margin-top: 0.35em;
    }
}

@media(min-width: 768px){ 
    .title{
        margin-bottom: 0.4em;
    }
    .title h2, .title #undo-redo{
        font-size: 1.7em;
        margin-top: 0.35em;
    }
    
}

@media(min-width: 992px){ 
    .title{
        margin-bottom: 0.4em;
    }
    .title h2, .title #undo-redo{
        font-size: 2em;
        margin-top: 0.35em;
    }
}

@media(min-width: 1200px){ 
    .title{
        margin-bottom: 0.4em;
    }
    .title h2, .title #undo-redo{
        font-size: 2.3em;
        margin-top: 0.35em;
    }
    .color{
        margin-top: 0.8em;
    }
    .size{
        margin-top: 1.5em;
    }
}
